:root {
  --branding-background: bisque;
  --branding-font: rgb(58, 39, 22);
  --branding-font-family: "Xanh Mono", monospace;
}

.hero {
  background-color: bisque;
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 80px;
  color: rgb(82, 55, 32);
}
.hero h2 {
  font-family: var(--branding-font-family);
  font-size: 36px;
  color: var(--branding-font);
}

.btn-branding {
  background-color: var(--branding-background);
  font-family: var(--branding-font-family);
  font-size: 20px;
  color: var(--branding-font);
  border-color: var(--branding-font);
  border-radius: 6px;
}
h2 {
  font-size: 22px;
  font-family: var(--branding-font-family);
}
p {
  font-size: 20px;
  font-family: var(--branding-font-family);
}

.btn-branding-body {
  font-family: var(--branding-font-family);
  font-size: 20px;
  color: var(--branding-font);
  border-color: var(--branding-font);
  border-radius: 6px;
}
.service-description {
  padding-left: 20px;
}
.pictures {
  padding: 10px 10px 10px 10px;
  max-width: 70%;
}
@media (max-width: 900px) {
  .service-description {
    text-align: center;
  }
}
