:root {
  --branding-background: bisque;
  --branding-font: rgb(58, 39, 22);
  --branding-font-family: "Xanh Mono", monospace;
}

.hero {
  background-color: bisque;
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 80px;
  color: rgb(82, 55, 32);
}
.hero h2 {
  font-family: var(--branding-font-family);
  font-size: 36px;
  color: var(--branding-font);
}

.btn-branding {
  background-color: var(--branding-background);
  font-family: var(--branding-font-family);
  font-size: 20px;
  color: var(--branding-font);
  border-color: var(--branding-font);
  border-radius: 6px;
}
h2 {
  font-size: 22px;
  font-family: var(--branding-font-family);
}
p {
  font-size: 20px;
  font-family: var(--branding-font-family);
}

.btn-branding-body {
  font-family: var(--branding-font-family);
  font-size: 20px;
  color: var(--branding-font);
  border-color: var(--branding-font);
  border-radius: 6px;
}
.service-description {
  padding-left: 20px;
}
.pictures {
  padding: 10px 10px 10px 10px;
  max-width: 70%;
}
@media (max-width: 900px) {
  .service-description {
    text-align: center;
  }
  .content-container {
    text-align: center;
  }
}

.content-container h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 70px;
  color: var(--branding-font);
}
.content-container h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 40px;
}
.content-container p {
  font-size: 15px;
}
.content {
  text-align: center;
}
.logo {
  max-width: 90px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: var(--branding-font);
}
nav li.active a {
  color: var(--branding-font);
}
footer {
  margin: 60px;
}
.social-links a {
  margin: 0 20px;
  color: var(--branding-font);
  font-size: 28px;
}
